<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Institution</td>
      <th>Number of Hosts</th>
      <th>Number of Layers</th>
    </tr>
  </thead>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.name %></td>
    <td><%= institution.hosts.count %></td>
    <td><%= institution.layer_count %></td>
  </tr>
<% end %>
</table>
