<div class="well">
  <p class="lead">
    GeoMonitor is a application that monitors the health and availability of GeoServer hosts and layers.
  </p>
  <p class="lead">
    Built at Stanford University out of the desire to build a better discovery application for geospatial data, GeoBlacklight.
  </p>
</div>
<div class="lead">
  <h3>Features of GeoMonitor include:</h3>
  <ul>
    <li>RESTful API</li>
    <li>Host status pings</li>
    <li>Individual layer status using WMS requests</li>
    <li>Host and layer availability history</li>
  </ul>
</div>
